salesforce/force-app/main/default/flows/Run_What_If_Scenario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <actionName>WhatIfScenarioActionHandler</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dealSearchTerm</name>
            <value>
                <elementReference>dealSearchTerm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>revenueTarget</name>
            <value>
                <elementReference>revenueTarget</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newProbabilityPct</name>
            <value>
                <elementReference>newProbabilityPct</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>closeDateSlipDays</name>
            <value>
                <elementReference>closeDateSlipDays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeHorizonDays</name>
            <value>
                <elementReference>timeHorizonDays</elementReference>
            </value>
        </inputParameters>
        <label>Run What-If Scenario Analysis</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <name>Run_What_If_Scenario_Analysis</name>
        <outputParameters>
            <assignToReference>overallSummary</assignToReference>
            <name>overallSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dealFound</assignToReference>
            <name>dealFound</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>baselineProbabilityPct</assignToReference>
            <name>baselineProbabilityPct</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>baselineExpectedRevenue</assignToReference>
            <name>baselineExpectedRevenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>scenarioProbabilityPct</assignToReference>
            <name>scenarioProbabilityPct</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>scenarioExpectedRevenue</assignToReference>
            <name>scenarioExpectedRevenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>probabilityChange</assignToReference>
            <name>probabilityChange</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <label>Handle Error</label>
        <locationX>374</locationX>
        <locationY>242</locationY>
        <name>Handle_Error</name>
    </assignments>
    <apiVersion>66.0</apiVersion>
    <description>Autolaunched Flow wrapping WhatIfScenarioActionHandler. Finds a specific deal in the user's pipeline by name, runs a baseline Monte Carlo simulation, applies a hypothetical change (new probability or close date slip) in memory without touching Salesforce data, runs a scenario simulation, and returns a before/after comparison narrative.</description>
    <interviewLabel>Run What-If Scenario {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run What-If Scenario Analysis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_What_If_Scenario_Analysis</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <dataType>String</dataType>
        <description>The name of the deal or account to model in the what-if scenario. A partial name match will find the closest deal — for example, &quot;Acme&quot; will match &quot;Acme Corp Enterprise Deal&quot;. Extract this from the user&apos;s message — e.g., &quot;What if the TechCo deal slips?&quot; → enter &quot;TechCo&quot;. Required.</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <name>dealSearchTerm</name>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>The dollar amount to calculate probability of hitting in both the baseline and scenario simulations. Extract this from the user&apos;s message — for example, &quot;what happens to my $25M target?&quot; → enter 25000000. Do not include currency symbols or commas. Required.</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <name>revenueTarget</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Override the matched deal&apos;s win probability with this new value (0 to 100). Use when the user asks &quot;what if [deal] drops to 40%?&quot; → enter 40. Leave blank to keep the deal&apos;s existing probability unchanged.</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <name>newProbabilityPct</name>
        <scale>1</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Push the matched deal&apos;s close date forward by this many days. Use when the user asks &quot;what if [deal] slips 30 days?&quot; or &quot;what if [deal] pushes to next quarter?&quot;. Leave blank to keep the existing close date. Example: 30 means the deal slips one month.</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <name>closeDateSlipDays</name>
        <scale>0</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>The number of days from today to include opportunities closing within. Leave blank when the user says &quot;this quarter&quot; or does not specify a time period — the action defaults to end of current quarter. Only populate if the user specifies a custom window like &quot;next 60 days.&quot;</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <name>timeHorizonDays</name>
        <scale>0</scale>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>A plain-English before/after comparison of how the what-if change affects overall revenue probability. Read this directly to the user. It includes the deal matched, the baseline probability, the scenario probability, and the net impact.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>overallSummary</name>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>The full name of the opportunity that was matched and used in the what-if scenario. Surface this so the user knows exactly which deal was modeled.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>dealFound</name>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>The probability of hitting the revenue target with the current unmodified pipeline. Example: &quot;62.1%&quot;. Use this to show the user the starting point before the hypothetical change.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>baselineProbabilityPct</name>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Mean revenue outcome with the current unmodified pipeline, in USD. The expected revenue before the what-if change is applied.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>baselineExpectedRevenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>The probability of hitting the revenue target after applying the what-if modification to the deal. Example: &quot;74.5%&quot;. Compare this to baselineProbabilityPct to show the user the impact of the change.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>scenarioProbabilityPct</name>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Mean revenue outcome after applying the what-if modification, in USD. The expected revenue if the hypothetical change happens.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>scenarioExpectedRevenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>The net change in hit-probability between the baseline and scenario. Positive means the scenario improves the forecast; negative means it hurts. Example: &quot;+12.4%&quot; or &quot;-8.1%&quot;. Use this as the headline of your response.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>probabilityChange</name>
    </variables>
    <variables>
        <dataType>Boolean</dataType>
        <description>True if the scenario analysis completed successfully. If false, do not read the forecast results — instead read errorMessage to the user.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>success</name>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>A description of what went wrong if success is false. Read this to the user so they understand why the analysis failed (e.g., deal not found, API unavailable).</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>errorMessage</name>
    </variables>
</Flow>
