salesforce/force-app/main/default/flows/Run_Forecast_Scenarios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <actionName>ForecastScenariosActionHandler</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>revenueTarget</name>
            <value>
                <elementReference>revenueTarget</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeHorizonDays</name>
            <value>
                <elementReference>timeHorizonDays</elementReference>
            </value>
        </inputParameters>
        <label>Run Forecast Scenarios</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <name>Run_Forecast_Scenarios</name>
        <outputParameters>
            <assignToReference>overallSummary</assignToReference>
            <name>overallSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>commitProbabilityPct</assignToReference>
            <name>commitProbabilityPct</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>commitExpectedRevenue</assignToReference>
            <name>commitExpectedRevenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>commitP10Revenue</assignToReference>
            <name>commitP10Revenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>commitP90Revenue</assignToReference>
            <name>commitP90Revenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>commitOppsCount</assignToReference>
            <name>commitOppsCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>mostLikelyProbabilityPct</assignToReference>
            <name>mostLikelyProbabilityPct</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>mostLikelyExpectedRevenue</assignToReference>
            <name>mostLikelyExpectedRevenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>mostLikelyP10Revenue</assignToReference>
            <name>mostLikelyP10Revenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>mostLikelyP90Revenue</assignToReference>
            <name>mostLikelyP90Revenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>mostLikelyOppsCount</assignToReference>
            <name>mostLikelyOppsCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>bestCaseProbabilityPct</assignToReference>
            <name>bestCaseProbabilityPct</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>bestCaseExpectedRevenue</assignToReference>
            <name>bestCaseExpectedRevenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>bestCaseP10Revenue</assignToReference>
            <name>bestCaseP10Revenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>bestCaseP90Revenue</assignToReference>
            <name>bestCaseP90Revenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>bestCaseOppsCount</assignToReference>
            <name>bestCaseOppsCount</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <label>Handle Error</label>
        <locationX>374</locationX>
        <locationY>242</locationY>
        <name>Handle_Error</name>
    </assignments>
    <apiVersion>66.0</apiVersion>
    <description>Autolaunched Flow wrapping ForecastScenariosActionHandler. Runs three Monte Carlo simulations to produce Commit, Most Likely, and Best Case forecast tiers against the current user's open Opportunities. Returns per-tier probabilities, expected revenues, and a combined narrative summary.</description>
    <interviewLabel>Run Forecast Scenarios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Forecast Scenarios (Commit / Most Likely / Best Case)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Forecast_Scenarios</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <dataType>Number</dataType>
        <description>Optional. If the user mentions a specific dollar target (e.g. &quot;What is my commit vs. best case for $25M?&quot;), enter it here as a number like 25000000. The output will then include probability of hitting that target for each tier. If the user just asks &quot;what is my commit?&quot; or &quot;show me my forecast scenarios&quot; with no target mentioned, leave this blank — the summary will show expected revenues for each tier instead.</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <name>revenueTarget</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>The number of days from today to include opportunities closing within. Leave blank when the user says &quot;this quarter&quot; or does not specify a time period — the action will automatically calculate the days remaining in the current calendar quarter. Only populate this if the user specifies a custom window such as &quot;next 30 days&quot; or &quot;next 60 days.&quot;</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <name>timeHorizonDays</name>
        <scale>0</scale>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>A combined plain-English narrative comparing all three forecast tiers (Commit, Most Likely, Best Case). Read this response directly to the user — it already contains probability percentages, expected revenues, and a recommendation.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>overallSummary</name>
    </variables>
    <variables>
        <dataType>Boolean</dataType>
        <description>True if all scenario simulations completed successfully. If false, do not read the forecast results — instead read errorMessage to the user.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>success</name>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>A description of what went wrong if success is false. Read this to the user so they understand why the forecast failed.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>errorMessage</name>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>Probability of hitting the revenue target using only deals with 80% or higher probability (your committed, high-confidence pipeline). Example: &quot;72.4%&quot;.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>commitProbabilityPct</name>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Mean revenue outcome in the Commit scenario (deals with >=80% probability), in USD.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>commitExpectedRevenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>10th percentile revenue outcome in the Commit scenario — the pessimistic floor for committed deals, in USD.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>commitP10Revenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>90th percentile revenue outcome in the Commit scenario — the optimistic ceiling for committed deals, in USD.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>commitP90Revenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Number of deals qualifying for the Commit scenario (those with probability >= 80%).</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>commitOppsCount</name>
        <scale>0</scale>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>Probability of hitting the revenue target including all deals with 50% or higher probability (your likely pipeline). Example: &quot;58.9%&quot;.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>mostLikelyProbabilityPct</name>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Mean revenue outcome in the Most Likely scenario (deals with >=50% probability), in USD.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>mostLikelyExpectedRevenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>10th percentile revenue outcome in the Most Likely scenario — pessimistic floor, in USD.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>mostLikelyP10Revenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>90th percentile revenue outcome in the Most Likely scenario — optimistic ceiling, in USD.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>mostLikelyP90Revenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Number of deals qualifying for the Most Likely scenario (those with probability >= 50%).</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>mostLikelyOppsCount</name>
        <scale>0</scale>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>Probability of hitting the revenue target including ALL open deals regardless of probability (the most optimistic scenario). Example: &quot;81.2%&quot;.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>bestCaseProbabilityPct</name>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Mean revenue outcome in the Best Case scenario (all open deals), in USD.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>bestCaseExpectedRevenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>10th percentile revenue outcome in the Best Case scenario — pessimistic floor, in USD.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>bestCaseP10Revenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>90th percentile revenue outcome in the Best Case scenario — optimistic ceiling, in USD.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>bestCaseP90Revenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>Total number of open deals included in the Best Case scenario (all open opportunities regardless of probability).</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>bestCaseOppsCount</name>
        <scale>0</scale>
    </variables>
</Flow>
