salesforce/force-app/main/default/flows/Run_Revenue_Forecast_Monte_Carlo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <actionName>MonteCarloActionHandler</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>revenueTarget</name>
            <value>
                <elementReference>revenueTarget</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeHorizonDays</name>
            <value>
                <elementReference>timeHorizonDays</elementReference>
            </value>
        </inputParameters>
        <label>Run Monte Carlo Simulation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <name>Run_Monte_Carlo_Simulation</name>
        <outputParameters>
            <assignToReference>summary</assignToReference>
            <name>summary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>targetProbabilityPct</assignToReference>
            <name>targetProbabilityPct</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>expectedRevenue</assignToReference>
            <name>expectedRevenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>p10Revenue</assignToReference>
            <name>p10Revenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>p90Revenue</assignToReference>
            <name>p90Revenue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>opportunitiesAnalyzed</assignToReference>
            <name>opportunitiesAnalyzed</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <label>Handle Error</label>
        <locationX>374</locationX>
        <locationY>242</locationY>
        <name>Handle_Error</name>
    </assignments>
    <apiVersion>66.0</apiVersion>
    <description>Autolaunched Flow wrapping MonteCarloActionHandler. Accepts a revenue target and optional time horizon from Agentforce, queries the current user open Opportunities, calls the Monte Carlo service on Heroku, and returns the probability of hitting that target with an expected revenue range.</description>
    <interviewLabel>Run Revenue Forecast Monte Carlo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Revenue Forecast - Monte Carlo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Monte_Carlo_Simulation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <dataType>Number</dataType>
        <description>The dollar amount the user wants to forecast against, expressed as a number. Extract this from the user&apos;s message — for example, if they say &quot;Will I hit $25 million this quarter?&quot;, enter 25000000. Do not include currency symbols or commas. This field is required.</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <name>revenueTarget</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>The number of days from today to include opportunities closing within. Leave this blank when the user says &quot;this quarter&quot; or does not specify a time period — the action will automatically calculate the days remaining in the current calendar quarter. Only populate this if the user specifies a custom window such as &quot;next 30 days&quot; or &quot;next 60 days.&quot;</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <name>timeHorizonDays</name>
        <scale>0</scale>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>A plain-English narrative answer to the user&apos;s forecasting question. Read this response directly to the user. Example: &quot;Based on your current pipeline of 12 open opportunities, you have a 68% chance of hitting $25M this quarter. Your expected revenue is $27.4M, with a realistic range of $19.1M to $35.2M.&quot;</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>summary</name>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>The probability of hitting the revenue target, expressed as a percentage string. Example: &quot;68.3%&quot;. Use this to highlight the headline probability in your response.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>targetProbabilityPct</name>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>The mean revenue outcome across all simulations, in USD. This represents the most likely total revenue outcome given the current pipeline&apos;s amounts and probabilities.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>expectedRevenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>The 10th percentile revenue outcome — the pessimistic scenario. There is only a 10% chance revenue will fall below this number. Use this to convey downside risk.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>p10Revenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>The 90th percentile revenue outcome — the optimistic scenario. There is a 90% chance revenue will fall below this number. Use this to convey upside potential.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>p90Revenue</name>
        <scale>2</scale>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <description>The number of open opportunities included in the simulation. Surface this so the user understands how much pipeline data the forecast is based on.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>opportunitiesAnalyzed</name>
        <scale>0</scale>
    </variables>
    <variables>
        <dataType>Boolean</dataType>
        <description>True if the simulation completed successfully. If false, do not read the forecast results to the user — instead, read the errorMessage and let the user know the forecast could not be completed.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>success</name>
    </variables>
    <variables>
        <dataType>String</dataType>
        <description>A description of what went wrong if success is false. Read this to the user so they understand why the forecast failed (e.g., no open opportunities found, API unavailable).</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <name>errorMessage</name>
    </variables>
</Flow>
